@import 'nib'
@import 'normalize'
@import 'typo'
@import 'modal'
@import 'inputs'
@import 'buttons'
@import 'header'
@import 'head'
@import 'search'
@import 'v'
@import 'menu'

font_main = "Roboto"
font_color = #264257
color_green = #00c03f
button_blue = #5783a4

*
    outline none
    box-sizing border-box

clearfix()
    zoom 1
    &:after
    &:before
        content ""
        display table
    &:after
        clear both
        
.right
    text-align right
    float right
    
.left
    text-align left
    float left
    
.centered
    text-align center
    
.center
    margin-left auto
    margin-right auto
    
.half
    width 50%
    
.hide
    display none !important
    
.error
    text-align center
    color #DB2121
    margin 20px 0
    
.pl20
    padding-left 20px
    
.block
    display block
    
audio
    display none
    
p
    margin 0 0 20px 0
    
a
    cursor pointer
    transition opacity .3s;
    text-decoration underline
    
    &:hover
        text-decoration none
        
    &:active
    &:focus
        outline none

html
body
    height 100%

body
    font 18px/22px font_main, "Helvetica Neue", Helvetica, Arial, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-rendering geometricPrecision
    background #e2e9ee
    color font_color
    
.header
.container
.footer
    
    width 100%
    
    &__inner
        position relative
        max-width 1366px
        padding 0 30px
        margin 0 auto
        clearfix()
        height 100%
                
/*
    Dropdown
*/

.dropdown
    display none
    position absolute
    top 85px
    right 0
    margin 0
    padding 0
    z-index 100
    list-style none
    min-width 300px
    z-index 99999
    
    & .menu__item
        
        &:first-child
        &:last-child
            border-radius 0px

/*
    Intro
*/

.image
.video
.color
    position relative
    width 100%
    height auto

    &__preview
        display block
        width 100%
        height auto
        margin 0
        padding 0

.video
    &__mask
        position absolute
        width 100%
        height 100%;
        background rgba(0,0,0,.5)
            
    &__play
        display block
        width 90px
        height 90px
        background url('../images/play-video.png') no-repeat
        position absolute
        top 50%
        left 50%
        margin-top -45px
        margin-left -45px
        cursor: pointer
        
.image
    
    &__controls
        //position absolute
        
    &__control
        display block
        position absolute
        width 70px
        height 70px
        background-image url('../images/arrows.png')
        background-repeat no-repeat
        top 50%
        margin-top -35px
        z-index 300
        
    &__control_left
        background-position 0 0
        left 30px
        
    &__control_right
        background-position 0 -70px
        right 30px
        
    &__data
        position absolute
        margin 0 auto
        padding 0 30px
        max-width 1366px
        width 100%
        height 100%
        left 0
        right 0
        
    &__date
        position absolute
        right 30px
        bottom 20px
        text-align right
        font-weight 300
        
        &_text
            font-size 30px
            line-height 30px
            
        &_date
            font-size 80px
            line-height 80px
        
.color
    background-color #8ddaba
    height 300px
    
    &__controls
        //position absolute
        
    &__control
        display block
        position absolute
        width 70px
        height 70px
        background-image url('../images/arrows.png')
        background-repeat no-repeat
        top 50%
        margin-top -35px
        z-index 300
        
    &__control_left
        background-position 0 0
        
    &__control_right
        background-position 0 -70px
        right 30px
        
    &__data
        position relative
        margin 0 auto
        padding 0 30px
        max-width 1366px
        width 100%
        height 100%
        
    &__info
        padding 100px 70px 0 70px
        text-align center

        &_text
        &_date
            text-align center
            color #fff
            font-weight 300
            
        &_date
            font-size 48px
            line-height 50px
            
        &_text
            font-size 36px
            line-height 46px
    
/*
    Content
*/
    
/*
    Grid
*/

.grid
    clearfix()
    width 100%
    padding-bottom 25px
    
    &_border
        border-bottom 1px solid #cfd8df
    
        &:last-child
            padding-bottom 0
            border-bottom 0
        
        &:first-child
            padding-bottom 50px
            border-bottom 1px solid #cfd8df
    
    &__col
        float left
        font-weight 300
        
        &_two
            width 50%
            
        &_two_p
            width 45%
            
            &:nth-child(2n)
                float right
    
        &_three
            width 33.33333%

        &_three:nth-child(1)
            padding 0 66px 0 0
        &_three:nth-child(2)
            padding 0 33px
        &_three:nth-child(3)
            padding 0 0 0 66px
            
/*
    Workouts
*/

.workouts
    clearfix()
    margin 0 -30px
    font-weight 300
    
.workout
    width 50%
    display inline-block
    vertical-align top
    padding 0 30px 30px 30px

    &__preview
        display block
        position relative
        float left
        width 200px
        height 200px
        border-radius 100%
        box-shadow 0px 0px 0px 4px rgba(152,152,156,.3)
        
        &:hover .workout__mask
            background rgba(0,0,0,0)
        
    &__play
        position absolute
        top 50%
        left 50%
        margin-top -22px
        margin-left -22px
        width 44.5px
        height 44px
        background-image url('../images/play-video.png')
        background-repeat no-repeat
        background-size 44.5px 44px
        opacity .5
        transition opacity .4s
        z-index 3
        
    &__mask
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background rgba(0,0,0,.2)
        border-radius 100%
        transition background .2s
        z-index 2
        
    &__image
        position relative
        display block
        width 100%
        border-radius 100%
        z-index 1
            
    &__time
        
        &_icon
            display inline-block
            width 16px
            height 20px
            background url('../images/timer_small.png') no-repeat
            vertical-align middle
            margin 0 10px 0 0
        
        & span
            font-size 12px
            color #8a8f93

    &__info 
        margin 10px 0 0 230px
        
        & h3
            font-size 18px
            font-weight 400
            margin 10px 0
            
.workout__preview:hover
    & .workout__play
        opacity 1
        
    & .workout__label
        opacity 1
    
.field_info
    display inline-block
    margin 0 20px
    vertical-align middle
    width 65px
    height 65px
    border-radius 50%
    text-align center
    line-height 65px
    font-size 44px
    color #39aa3d
    font-family Georgia
    text-decoration none
    font-style italic
    font-weight 600
    background #fff
    box-shadow: 0 0 0 4px rgba(152, 152, 156, .15)
    transition box-shadow .2s
    
    &:hover
        box-shadow: 0 0 0 4px rgba(38, 66, 87, .3)
        color #39aa3d
        

/*
    Footer
*/

.footer
    height 75px
    background #95a6b3
    
    &__links
        height 100%
        text-align center
        
    &__link
        position relative
        display inline-block
        width 45px
        height 45px
        background-image url('../images/social.png')
        background-repeat no-repeat
        margin 0 10px
        top 15px
        
        &:hover
            opacity .8
        
        &_facebook
            background-position 0 -45px
            
        &_twitter
            background-position 0 0
            
        &_instagram
            background-position 0 -90px


.page
    position relative
    width 100%
    height 100%
    min-height 420px
    display flex
    color #fff
    
.wrapper
    z-index 200
    margin auto
    padding 40px 0

.screen
    position fixed
    width 100%
    height 100%
    background url('../images/screen.jpg') no-repeat
    background-size cover
    z-index 100
    
    &__mask
        position absolute
        width 100%
        height 100%
        background rgba(0,0,0,.7)
        z-index 100
    
.page .content
    padding 20px
    text-align center
    max-width 390px
    margin auto
        
    &__headline
        line-height 46px
        font-weight 300
        color #fff
        margin 0 0 30px 0
        
    &__sub-headline
        font-size 22px
        line-height 32px
        font-weight 300
        color #fff
        margin 30px 0
        margin 30px 0 30px -145px
        width 640px
        
    &__logo
        display inline-block
        width 300px
        height 65px
        background url('../images/screen_logo.png') center no-repeat
        background-size 300px 65px
        
    & .btn
        width 100%

        
.page .content
    width 400px
    
    &__logo
        margin-top 30px
        
    & form
        text-align center
        
    & input
        width 100%
        text-align center
        
.update .content__headline
    width 640px
    margin 0 0 30px -145px
            
.spinner
  margin 40px auto
  width 70px
  text-align center

.spinner > div
  width 18px
  height 18px
  background-color #fff

  border-radius: 100%
  display: inline-block
  animation: bouncedelay 1.4s infinite ease-in-out
  animation-fill-mode: both

.spinner .bounce1
  animation-delay: -0.32s

.spinner .bounce2
  animation-delay: -0.16s

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.app_link 
    display block
    margin-top 20px
    text-decoration none
    text-align center

    & span
        border-bottom 1px solid #43a2cf
        font-size 12px
        font-size 14px
        font-weight 300
        
.messages
    clearfix()
    margin 0 -30px
    
.message
    float left
    width: 50%
    padding 0 30px 30px 30px
    font-weight 300
    clearfix()
    
    &__image
        width 150px
        height 150px
        float left
        
        & img
            width 100%
            border-radius 100%
            
    &__info
        margin-left 180px
        
.history
    position relative
    clearfix()
    margin 20px 0 40px 0
    
    &__item
        width 50%
        float left

        &_day
            margin 20px 0
            font-size 28px
            font-weight 400
            padding 0 0 0 100px
            background url('../images/history_day.png') 48px center no-repeat

        &_val
            position relative
            margin 20px 0

            & span
                display inline-block
                width 70px
                margin-right 30px
                text-align right
                color #8A8F93
                font-size 18px
                line-height 30px

            & a
                color #264257
                text-decoration none
                margin 0
                font-size 24px
                font-weight 300
                line-height 30px
                border-bottom 1px solid #264257
                
                &:hover
                    border-bottom none
                    
.status
    padding 20px
    color #fff
    border-radius 8px
    text-align left
    
    &.error
        background #db2121
    &.success
        background #39aa3d
        
.w__view
    position relative
    width 854px
    margin 0 auto
    text-align center
    
    & .w__view_player
        width 854px
        height 480px
        
.w__info
    position relative
    text-align center
    margin-top -40px
    font-weight 300
    
.w__info_timer
    position relative
    display inline-block
    width 300px
    height 80px
    border-radius 80px
    line-height 80px
    background #fff
    z-index 200
    font-size 24px
    
.w__info_music
    position relative
    left -70px
    display inline-block
    width 320px
    height 80px
    border-radius 80px
    line-height 80px
    background #00C03F
    color #fff
    z-index 100
    font-size 24px
    
.w__info_timer + .w__info_music
    margin-right -70px
    
.w__info_icon
    position relative
    top -3px
    display inline-block
    height 40px
    vertical-align middle
    margin-right 10px
    
    &-timer
        width 33px
        background url('../images/timer.png') center no-repeat
        
    &-music
        width 50px
        background url('../images/music.png') center no-repeat
        margin-left 30px
        
.w__controls
    text-align center
    margin 20px 0
    
.w__control
    display inline-block
    width 230px
    height 80px
    border-radius 80px
    line-height 76px
    font-size 24px
    background #fff
    color #264257
    cursor pointer
    text-decoration none
    margin 0 15px
    border 2px solid #C1CED7
    font-weight 300
    
    &:hover
        border 2px solid #D3DEE5
        
.w__control_icon
    position relative
    display inline-block
    width 40px
    height 40px
    vertical-align middle
    margin-right 10px
    top -2px
    
    &-play
        background url('../images/icon_play.png') center no-repeat
        
    &-pause
        background url('../images/icon_pause.png') center no-repeat
        
    &-stop
        background url('../images/icon_stop.png') center no-repeat
        
    &-restart
        background url('../images/icon_replay.png') center no-repeat
        
.w__details
    width 854px
    margin 0 auto
    
    &_media
        width 100%
        text-align center
        margin-bottom 30px
        
        &_img
            display block
            width 100%
            height auto
            border-radius 5px
            
.lang
    clearfix()
    border-radius 5px
    box-shadow: 0 0 0 4px rgba(152,152,156,0.15);
    
    &__left
    &__right
        width 50%
        float left
        
        label
            display block
            line-height 24px
            padding 23px 20px
            background #fff
            transition background 0.2s
            transition color 0.2s
            color #999
            cursor pointer
            
            
        input
            display none
            
        input:checked + label
            background #42ae45
            color #fff
            
            
    &__left
        label
            border-radius 5px 0 0 5px
            
    &__right
        label
            border-radius 0 5px 5px 0
        

@media (min-height: 1080px)
    .app_link
        width 100%
        position absolute
        bottom 40px
        left 0
            
@media (max-width: 1024px)

    .grid
        
        &__col
        
            &_three:nth-child(1)
                padding 0 32px 0 0
            &_three:nth-child(2)
                padding 0 16px
            &_three:nth-child(3)
                padding 0 0 0 32px
                
    .workout
        position relative
        
        &__preview
            width 150px
            height 150px
            
        &__info
            margin-left 180px
                
    .highlights
        display none
        
    .message
        position relative
        
        &__image
                width 100px
                height 100px
                
        &__info
                margin-left 130px
                
    .image__date
        position relative
        display block
        text-align center
        right 0
        bottom 0
        top: 50%
        margin-top: -50px
        
        &_text
            font-size 22px
            line-height 22px
            
        &_date
            font-size 55px
            line-height 55px
            
@media (max-width: 854px)

    .w__details
        width 100%
        
    .w__details_media
        margin-bottom 10px
        
    .w__view
        width 100%
        
    .w__control
        width 150px
        
        span
            display none
            
    .w__control_icon
        margin 0
        
    .w__info_timer
        width 240px
        
    .w__info_music
        width 280px
        
@media (max-width: 640px)

    .w__control
        width 80px
        
    .w__info_icon
        height 30px
        font-size 18px
        
    .w__info_timer
        width 160px
        
    .w__info_music
        width 220px
        
    .w__info_music
    .w__info_timer
        font-size 18px
        
    .w__info_icon-timer
        width 27px
        background-size 27px 30px
        
    .w__info_icon-music
        width 40px
        margin-left 50px
        background-size 40px 30px
                
@media (max-width: 750px)

    body
        font 14px/18px font_main, "Helvetica Neue", Helvetica, Arial, sans-serif
        
    p
        margin 0 0 15px 0

    .header
    .container
    .footer
        
        &__inner
            padding 0 15px
                    
    /*
        Dropdown
    */

    .dropdown
        top 80px
        min-width 0
        width 100%

    .hm
        display none
        
    /*
        Intro
    */

    .image
    .video
        width 100%
        height auto

        &__preview
            width 100%
            height auto

    .video
                
        &__play
            width 45px
            height 45px
            margin-top -22.5px
            margin-left -22.5px
            background-size 45px 45px
            
    .image
    .color
        
        &__controls
            //position absolute
            
        &__control
            width 35px
            height 35px
            background-size 35px 70px
            margin-top -17.5px
            
        &__control_left
            background-position 0 0
            
        &__control_right
            background-position 0 -35px
            right 20px
            
        &__data  
            padding 0 20px
        
    /*
        Grid    
    */

    .grid
        width 100%
        
        &__col
            
            
            &:last-child
                margin-bottom 0
            
            &_two
                width 100%
                margin-bottom 10px
            
            &_three
                width 100%
                margin-bottom 25px
                border-bottom 1px solid #cfd8df
        
            &_three:nth-child(1)
                padding 0 0 25px 0
            &_three:nth-child(2)
                padding 0 0 25px 0
            &_three:nth-child(3)
                padding 0 0 25px 0
        
        &_border
            border-bottom none
        
            &:last-child
                padding-bottom 0
                border-bottom 0
            
            &:first-child
                padding-bottom 0
                border-bottom none
                
    /*
        Workouts
    */

    .workouts
        margin 0
        
    .workout
        width 100%
        padding 0 0 15px 0
        margin 0 0 15px 0
        border-bottom 1px solid #cfd8df
    
        &__preview
            width 100px
            height 100px
            
        &__play
            margin-top -15px
            margin-left -15px
            width 30px
            height 30px
            background-size 30px 30px
                
        &__time
            
            &_icon
                width 12px
                height 14px
                background-size 12px 14px
                margin 0 5px 0 0

            & span
                font-size 12px
            
        &__info 
            margin 5px 0 0 115px
            
            & h3
                font-weight 400
                
            & p
                margin-bottom 10px
                
    .workout__preview:hover
        & .workout__play
            opacity 1
            
        & .workout__label
            opacity 1
    /*
        Footer
    */

    .footer
        height 38px
            
        &__link
            position relative
            display inline-block
            width 23px
            height 23px
            background-size 23px 69px
            margin 0 5px
            top 8px
            
            &:hover
                opacity .8
            
            &_facebook
                background-position 0 -23px
                
            &_twitter
                background-position 0 0
                
            &_instagram
                background-position 0 -46px
                
    /*
        Pages    
    */
                
    .page
        display block

    
    .wrapper
        position relative
        padding 10px
        height 100%

    .screen
        background url('../images/screen_mobile.jpg') no-repeat
        background-size cover
        
        &__mask
            position absolute
            width 100%
            height 100%
            background rgba(0,0,0,.7)
            z-index 100
        
    .page .content
        position relative
        padding 0
        max-width 100%
        width 100%
        height 100%
        
        &__headline
            line-height 36px
            margin 0 0 15px 0
            
        &__sub-headline
            font-size 12px
            line-height 16px
            margin 15px 0
            width 100%
            
        &__logo
            width 176px
            height 38px
            background-size 100%
            margin 40px 0
            
    .update .content__headline
        width 100%
        margin 0 0 30px 0
        
    .login .content__middle
        width 100%
        position absolute
        bottom 80px
        left 0
        
        & form input
            text-align center
        
    .content__bottom
        width 100%
        position absolute
        bottom 0
        left 0
            
    .update .content
        
        &__logo
            margin 0
            
    .error
        margin 10px 0
        
    .messages
        margin 0
        
        .message
            width: 100%
            padding 0 0 15px 0
            margin 0 0 15px 0
            border-bottom 1px solid #cfd8df
            
    .history
        margin 0
        
        &__item
            width 100%

            &_day
                margin 20px 0
                font-size 22px
                font-weight 400
                padding 0 0 0 70px
                background url('../images/history_day@2x.png') 28px center no-repeat
                background-size 23px 24px

            &_val
                position relative
                margin 20px 0

                & span
                    display inline-block
                    width 50px
                    margin-right 20px
                    text-align right
                    color #8A8F93
                    font-size 14px
                    line-height 20px

                & a
                    color #264257
                    text-decoration none
                    margin 0
                    font-size 18px
                    font-weight 300
                    line-height 20px
                    border-bottom 1px solid #264257
                    
                    &:hover
                        border-bottom none
                 
    .color
        height 150px
               
        &__info
            padding 50px 40px 0 40px
            
            &_date
                font-size 24px
                line-height 30px
            &_text
                font-size 18px
                line-height 20px
                
    .image__date 
        margin-top -20px
                   
        &_text
            font-size 14px
            line-height 14px
            
        &_date
            font-size 24px
            line-height 24px
                
    .status
        padding 10px
        border-radius 3px