input[type="text"],
input[type="password"]
    display inline-block
    min-width 60%
    padding 23px 20px
    
    background #fff
    line-height 24px
    font-size 18px
    color #264257
    margin 0 0 0 20px
    
    border 0
    border-radius 5px
    
    box-shadow: 0 0 0 4px rgba(152, 152, 156, .15)
    transition box-shadow .2s
    

    &:first-child
        margin 0

    &:focus
        box-shadow: 0 0 0 4px rgba(38, 66, 87, .3)


/*
    Select
*/