fieldset
    padding 0
    margin 30px 0
    border 0

input
    appearance: none;

input[type="text"],
input[type="password"]
    display inline-block
    min-width 60%
    padding 23px 20px
    
    background #fff
    line-height 24px
    color #264257
    margin 0 0 0 20px
    
    border 0
    border-radius 5px
    
    box-shadow: 0 0 0 4px rgba(152, 152, 156, .15)
    transition box-shadow .2s
    

    &:first-child
        margin 0

    &:focus
        box-shadow: 0 0 0 4px rgba(38, 66, 87, .3)


/*
    Select
*/

/*
    Switch
*/

.switch
    clearfix()
    line-height 70px
    
    span
        margin-right 20px

.switch__toggle
    position absolute
    margin-left -9999px
    visibility hidden

    & + label
        display block
        position relative
        cursor pointer
        outline none
        -webkit-user-select none
        -moz-user-select none
        -ms-user-select none
        user-select none

input.switch__toggle + label
    width 100px
    height 50px
    background-color #dddddd
    border-radius 50px
    margin 10px 0

    &:before
    &:after
        display block
        position absolute
        top 1px
        left 1px
        bottom 1px
        content ""

    &:before
        right 1px
        background-color #c03600
        border-radius 50px
        transition background 0.4s

    &:after
        width 48px
        background-color #fff
        border-radius 100%
        transition margin 0.4s

input.switch__toggle:checked + label:before
    background-color #39aa3d

input.switch__toggle:checked + label:after
    margin-left 50px
    
/*
    Switch Music
*/

.switch__music
    position absolute
    margin-left -9999px
    visibility hidden

    & + label
        display block
        position relative
        cursor pointer
        outline none
        -webkit-user-select none
        -moz-user-select none
        -ms-user-select none
        user-select none

input.switch__music + label
    width 100px
    height 55px

    &:before
    &:after
        display block
        position absolute
        top 0px
        left 0px
        bottom 0px
        content ""

    &:before
        right 0px
        background-color #c03600
        border-radius 70px
        transition background 0.4s

    &:after
        width 100px
        background-color #fff
        transition opacity 0.4s
        background url('../images/music.png') center no-repeat

input.switch__music:checked + label:before
    background-color #39aa3d
    
/*
    Checkbox
*/


.checkbox
    position absolute
    margin-left -9999px
    visibility hidden

    & + label
        display inline-block
        position relative
        cursor pointer
        outline none
        -webkit-user-select none
        -moz-user-select none
        -ms-user-select none
        user-select none
        margin 0 20px 0 0
        
    &__field
        text-align left

input.checkbox + label
    width 25px
    height 25px

    &:before
    &:after
        display block
        position absolute
        top 0px
        left 0px
        bottom 0px
        content ""

    &:before
        right 0px
        background-color #fff
        border-radius 3px
        transition background-color 0.4s

    &:after
        width 40px
        height 32px
        top -11px
        left -3px
        background none

input.checkbox:checked + label:after
    background url('../images/checkbox.png') center no-repeat
/*
    Mobile
*/
    
@media (max-width: 750px)

    fieldset
        margin 10px 0
        
    input[type="text"]
    input[type="password"]
        width 100%
        padding 11.5px 10px
        line-height 22px
        box-shadow: 0 0 0 2px rgba(152, 152, 156, .15)
        border-radius 5px
        margin 0 0 0 10px

        &:focus
            box-shadow: 0 0 0 2px rgba(38, 66, 87, .3)
            
    .switch
        line-height 45px
        
        span
            text-align left
            float left

    input.switch__toggle + label
        width 75px
        height 45px
        border-radius 45px
        margin 0

        &:before
            border-radius 45px

        &:after
            width 43px

    input.switch__toggle:checked + label:after
        margin-left 30px
        
    /*
        Checkbox
    */


    .checkbox

        & + label
            margin 0 10px 0 0

    input.checkbox + label
        width 20px
        height 20px

        &:after
            width 20px
            height 16px
            top 2px
            left 1px
            background none

    input.checkbox:checked + label:after
        background-size 20px 16px 