@import 'nib'
@import 'normalize'

font_main = "Roboto"
font_color = #264257
color_green = #00c03f
button_blue = #5783a4

*
    box-sizing border-box
    outline 0

clearfix()
    zoom 1
    &:after
    &:before
        content ""
        display table
    &:after
        clear both
        
.right
    text-align right
    float right
    
.left
    text-align left
    float left
    
.hide
    display none !important
    
p
    margin 0 0 20px 0
    
a
    transition: opacity 0.3s;
    text-decoration underline
    
    &:hover
        text-decoration none
        

html
body
    height 100%

body
    font 18px/22px font_main, "Helvetica Neue", Helvetica, Arial, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-rendering geometricPrecision
    //min-width 736px
    /*max-width 1920px*/
    background #e2e9ee
    color font_color
    
.header
.container
.footer
    
    width 100%
    
    &__inner
        position relative
        max-width 1366px
        padding 0 30px
        margin 0 auto
        clearfix()
        height 100%
 
.header
    background font_color
    height 100px
    
    &__inner
        height 100px        
    
    &__logo
        display block
        float left
        margin-top 30px
        background url('../images/logo.png') no-repeat
        width 193px
        height 42px
        
.header__menu
    height 70px
    list-style none
    clearfix()
    margin 15px 0
    padding 0
    
    &-item
        position relative
        float left
        margin 0 0 0 20px
        height 70px
        
        span
            position relative
            top 10px
            font-size 18px
            line-height 25px
            color #fff
            font-weight 300
        
    &-link
        display block
        width 70px
        height 70px
        background-image url('../images/menu.png')
        background-repeat no-repeat
        
        &_calendar
            background-position 0 0
            
        &_menu
            background-position 0 -70px
            
            &:hover
                background-position 0 -140px
                
            &.active
                background-position 0 -210px
/*
    Intro
*/

.image
.video
    position relative
    width 100%
    height auto

    &__preview
        display block
        width 100%
        height auto
        margin 0
        padding 0

.video
    &__mask
        position absolute
        width 100%
        height 100%;
        background rgba(0,0,0,.5)
            
    &__play
        display block
        width 90px
        height 90px
        background url('../images/play-video.png') no-repeat
        position absolute
        top 50%
        left 50%
        margin-top -45px
        margin-left -45px
        cursor: pointer
        
.image
    
    &__controls
        //position absolute
        
    &__control
        display block
        position absolute
        width 70px
        height 70px
        background-image url('../images/arrows.png')
        background-repeat no-repeat
        top 50%
        margin-top -35px
        
    &__control_left
        background-position 0 0
        left 70px
        
    &__control_right
        background-position 0 -70px
        right 70px
        
    &__data
        position absolute
        margin 0 auto
        padding 0 30px
        max-width 1366px
        width 100%
        height 100%
        
    &__text
    &__date
        position absolute
        text-align right
        bottom 20px
        
    &__text
        font-size 48px
        line-height 50px
        
    &__date
        font-size 100px
        line-height 100px
        
/*
    Timer & Music
*/

.tm
    position relative
    clearfix()
    max-width 600px
    margin -40px auto 0 auto
    z-index 99999
    text-align center
    
.tm__timer
    position relative
    display block
    float left
    width 320px
    height 80px
    background #fff
    border-radius 80px
    z-index 99998
    
.tm__music
    position relative
    display block
    float left
    width 350px
    height 80px
    background color_green
    border-radius 80px
    margin 0 0 0 -70px
    z-index 99997
    padding 0 0 0 50px
    
    &_off
        background #c03600
    
.tm__text
    line-height 80px
    font-size 24px
    font-weight 300
        
    &_music
        color #fff
        
.tm__icon
    display inline-block
    background-image url('../images/tm.png')
    background-repeat no-repeat
    vertical-align middle
    margin 0 20px 0 0
    
    &_timer
        width 33px
        height 40px
        background-position -50px 0
        
    &_music
        width 50px
        height 40px
        background-position 0 0
    
/*
    Content
*/
    
.head
    clearfix()
    margin 20px 0
    padding 0 0 20px 0
    border-bottom 1px solid #cfd8df
    
    &__col
        display block
        float left
        width 33.33333%
        height 55px
        
    &__button-back
        position relative
        display inline-block
        background button_blue
        color #fff
        text-transform uppercase
        text-decoration none
        border-radius 3px
        font-size 1.3em
        height 55px
        line-height 55px
        padding 0 20px 0 5px
        margin-left 22px
        
        &:hover
            color #fff
        
        &_arrow
            display block
            position absolute
            top 0
            left -22px
            width 24px
            height 55px
            background url('../images/back.png') left center no-repeat
        
            
    &__search
        display block
        margin 0 auto
        width 24px
        height 55px
        background url('../images/search.png') center no-repeat
        
    &__search-input
        display block
        position relative
        width 80%
        top 7px
        background #fff
        margin 0 auto
        padding 11px 20px 11px 55px
        border 0
        border-radius 50px
        background-image url('../images/search_small.png')
        background-position 20px center
        background-repeat no-repeat
        line-height 18px
        
        &:focus
            box-shadow(0 0 0 2px #95a6b3)
            
    &__title {
        margin 0
        line-height 55px
        font-size 36px
        font-weight 300
    }
    
/*
    Lists
*/

.list
    margin 40px 0 0 0
    
.list__circle
    position relative
    margin 0 0 30px 0
    padding 0 0 0 100px
    min-height 80px
    
    span 
        font-size 18px
        line-height 25px
        font-weight 300
    
    &-circle
        position absolute
        top 0
        left 0
        width 80px
        height 80px
        background url('../images/item-circle.png') no-repeat
        line-height 80px
        text-align center
        font-size 36px
        font-weight 300
        
.list__control
    border-top 1px solid #cfd8df
    padding 40px 0
    text-align center
    
.list__button
    display inline-block
    width 400px
    line-height 90px
    border-radius 5px
    background color_green
    color #fff
    text-transform uppercase
    font-size 24px
    text-decoration none
    
/*
    Grid
*/

.grid
    clearfix()
    width 100%
    margin 50px 0
    padding-bottom 50px
    
    &_border
        border-bottom 1px solid #cfd8df
    
        &:last-child
            padding-bottom 0
            border-bottom 0
        
        &:first-child
            padding-bottom 50px
            border-bottom 1px solid #cfd8df
    
    &__col
        float left
        font-weight 300
        
        &_two
            width 50%
    
        &_three
            width 33.33333%

        &_three:nth-child(1)
            padding 0 66px 0 0
        &_three:nth-child(2)
            padding 0 33px
        &_three:nth-child(3)
            padding 0 0 0 66px
            
fieldset
    padding 0
    margin 20px 0
    border 0
    height 80px
    line-height 80px
    
    & span
        display inline-block
        margin 0 20px 0 0
        
    &:first-child
        margin-top 0
        
    &:last-child
        margin-bottom 0
        
    & .grid
        margin 0
        padding 0
    
input[type="text"]
select
    display inline-block
    height 80px
    line-height 80px
    border: 4px solid #d7dde2
    border-radius 8px
    background #fff
    padding 0 20px
    min-width 60%
    color font_color
    margin 0 0 0 20px
    

    &:first-child
        margin 0

    &:focus
        border-color #a9b7c0
        
select
    text-indent 10px
    
.field_info
    display inline-block
    margin 0 20px
    vertical-align middle
    width 70px
    height 70px
    border-radius 50%
    border: 4px solid #d7dde2
    text-align center
    line-height 65px
    font-size 48px
    color #39aa3d
    font-family Georgia
    text-decoration none
    font-style italic
    font-weight 600
    background #fff
    
    &:hover
        border-color #a9b7c0
        color #39aa3d
            
/*
    Buttons
*/

.btn
    display inline-block
    height 50px
    line-height 50px
    padding 0 40px
    color #fff
    font-weight 300
    background #39aa3d
    text-decoration none
    text-align center
    
    &_small
        border-radius 50px
        
    &_medium
        height 100px
        line-height 100px
        font-size 18px
        border-radius 5px
        text-transform uppercase
        font-weight 400
        padding 0 20px
        
    &_large
        height 100px
        line-height 100px
        font-size 24px
        border-radius 5px
        text-transform uppercase
        font-weight 500
        
    
    &:hover
        text-decoration none
        color #fff
    
    &_green
        background #39aa3d
        
        &:hover
            background #42ae45
            
    &_red
        background #c03600
        
        &:hover
            background #da3d00
        

/*
    Footer
*/

.footer
    height 75px
    background #95a6b3
    
    &__links
        height 100%
        text-align center
        
    &__link
        position relative
        display inline-block
        width 45px
        height 45px
        background-image url('../images/social.png')
        background-repeat no-repeat
        margin 0 10px
        top 15px
        
        &:hover
            opacity .8
        
        &_facebook
            background-position 0 -45px
            
        &_twitter
            background-position 0 0
            
        &_instagram
            background-position 0 -90px
            
.switch__toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch__toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.switch__toggle + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  margin-top 10px
}
input.switch__toggle + label:before, input.switch__toggle + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.switch__toggle + label:before {
  right: 1px;
  background-color: #c03600;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.switch__toggle + label:after {
  width: 58px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.switch__toggle:checked + label:before {
  background-color: #39aa3d;
}
input.switch__toggle:checked + label:after {
  margin-left: 60px;
}

.page
    width 100%
    height 100%
    display flex
    
.wrapper
    position relative
    z-index 200
    margin auto
    padding 40px 0

.screen
    position fixed
    width 100%
    height 100%
    background url('../images/24.jpg') no-repeat
    background-size cover
    z-index 100
    
    &__mask
        position absolute
        width 100%
        height 100%
        background rgba(0,0,0,.7)
        z-index 100
    
.page .content
    padding 20px
    text-align center
    max-width 390px
    margin auto
        
    &__headline
        font-size 36px
        line-height 46px
        font-weight 300
        color #fff
        margin 0 0 30px 0
        
    &__sub-headline
        font-size 22px
        line-height 32px
        font-weight 300
        color #fff
        margin 30px 0
        
    &__logo
        display inline-block
        width 355px
        height 77px
        background url('../images/screen_logo.png') center no-repeat
        
    & .btn
        width 100%

.register .content
    width 400px
    
    &__logo
        margin-top 90px
        
    & form
        margin 40px 0
        height 100%
        text-align center
        
    & input
        width 100%

.start .btn
.update .btn
    margin-top 65px
    
.highlights
    clearfix()
    margin-top 150px
    
    &__block
        width 32%
        display inline-block
        
        & img
            width 100%
            height auto
            margin 0
            padding 0 10px
            
@media (max-width: 1024px)

    .grid
        
        &__col
        
            &_three:nth-child(1)
                padding 0 66px 0 0
            &_three:nth-child(2)
                padding 0 33px
            &_three:nth-child(3)
                padding 0 0 0 66px
                
@media (max-width: 750px)

    .header
        height 80px
        
        &__inner
            height 80px        
        
        &__logo
            margin-top 24px
            background-size 154px 34px
            width 154px
            height 34px
            
    .header__menu
        height 56px
        margin 12px 0
        
        &-item
            margin 0 0 0 16px
            height 56px
            
            span
                top 8px
                font-size 14px
                line-height 20px
            
        &-link
            width 56px
            height 56px
            background-size 56px 224px
            
            &_calendar
                background-position 0 0
                
            &_menu
                background-position 0 -56px
                
                &:hover
                    background-position 0 -112px
                    
                &.active
                    background-position 0 -168px

    .mw750
        display none

    .grid
        width 100%
        margin 50px 0
        padding-bottom 50px
        
        &__col
            border-bottom 1px solid #cfd8df
            
            &:last-child
                margin-bottom 0
            
            &_two
                width 100%
            
            &_three
                width 100%
                margin-bottom 50px
        
            &_three:nth-child(1)
                padding 0 0 50px 0
            &_three:nth-child(2)
                padding 0 0 50px 0
            &_three:nth-child(3)
                padding 0 0 50px 0
        
        &_border
            border-bottom none
        
            &:last-child
                padding-bottom 0
                border-bottom 0
            
            &:first-child
                padding-bottom 0
                border-bottom none
                
    .head
        margin 10px 0
        padding 0 0 10px 0
        
        &__col
            height 28px
            
        &__button-back
            font-size 13px
            height 28px
            line-height 28px
            padding 0 10px 0 3px
            margin-left 11px
            
            &_arrow
                display block
                position absolute
                top 0
                left -11px
                width 12px
                height 28px
                background-size 12px 28px
            
                
        &__search
            width 12px
            height 28px
            background-size 12px 28px
            
        &__search-input
            top 4px
            padding 6px 10px 6px 28px
            border-radius 25px
            background-position 10px center
            line-height 9px
                
        &__title
            margin 0
            line-height 28px
            font-size 18px
        