.search
    position relative
    margin 20px 0
    padding 0 0 20px 0
    border-bottom 1px solid #cfd8df
    
    &__close
        display block
        width 42px
        height 42px
        position absolute
        right 7px
        top 5px
        background-image url("../images/modal-close.png")
        background-repeat no-repeat
        background-position 0 0
        
        &:hover
            background-position 0 -42px
    
input.search__input
    width 100%
    padding 13px 60px
    border-radius 100px
    
    background-image url("../images/search_small.png")
    background-position 25px center
    background-repeat no-repeat
            
@media (max-width: 750px)

    .search
        margin 15px 0
        padding 0 0 15px 0
        
        &__close
            right 2px
            top 2px
        
    input.search__input
        padding 11.5px 50px
        background-position 18px center