doctype
html
head
	include _head.jade
body

	include _header.jade

	h2.centered Liegestutzen

	.container
		.container__inner
			.v
				.v__preview
					img.v__preview_image(src='images/preview.jpg')
				.v__info
					.v__info_timer
						span 00:45
					.v__info_controls
						.v__info_control.v__info_control_stop
						.v__info_control.v__info_control_play
						.v__info_control.v__info_control_replay
					.v__info_music
						input#switch.switch__music(type='checkbox')
						label(for='switch').right

	include _footer.jade