doctype
html
head
	include _head.jade
body

	include _header.jade

	h2.centered Liegestutzen

	.container
		.container__inner
			.w
				.w__view
				.w__info
					.w__info_timer 05:00
					.w__info_music Musik: ein
				.w__controls
					a.w__control.w__control_stop Stop
					a.w__control.w__control_stop Play
					a.w__control.w__control_stop Restart

	include _footer.jade