doctype
html
	include _head.jade
body

	.header
		.header__inner
			a.header__logo(href='#')
			ul.header__menu.right
				li.header__menu-item
					a.header__menu-link.header__menu-link_logout(href='#')
	
	.container
		.container__inner
			.head
				.head__col
					a.head__button-back(href='#') ZURUCK
						i.head__button-back_arrow
				.head__col
					h2.head__title.right Nachirichten
			.content
				.messages
					.message
						.message__image
							img(src='http://place-hold.it/150x150')
						.message__info
							p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
							a.btn.btn_rounded.btn_green(href='#') Mehr details
					.message
						.message__image
							img(src='http://place-hold.it/150x150')
						.message__info
							p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
							a.btn.btn_rounded.btn_green(href='#') Mehr details
					.message
						.message__image
							img(src='http://place-hold.it/150x150')
						.message__info 
							p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
							a.btn.btn_rounded.btn_green(href='#') Mehr details
					.message
						.message__image
							img(src='http://place-hold.it/150x150')
						.message__info
							p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
							a.btn.btn_rounded.btn_green(href='#') Mehr details
					.message
						.message__image
							img(src='http://place-hold.it/150x150')
						.message__info
							p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
							a.btn.btn_rounded.btn_green(href='#') Mehr details
					.message
						.message__image
							img(src='http://place-hold.it/150x150')
						.message__info 
							p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
							a.btn.btn_rounded.btn_green(href='#') Mehr details
					.message
						.message__image
							img(src='http://place-hold.it/150x150')
						.message__info
							p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
							a.btn.btn_rounded.btn_green(href='#') Mehr details
					.message
						.message__image
							img(src='http://place-hold.it/150x150')
						.message__info
							p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
							a.btn.btn_rounded.btn_green(href='#') Mehr details
					.message
						.message__image
							img(src='http://place-hold.it/150x150')
						.message__info 
							p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
							a.btn.btn_rounded.btn_green(href='#') Mehr details

					
	include _footer.jade