.footer
	.footer__inner
		.footer__links
			//a.footer__link.footer__link_facebook(href='#')
			//a.footer__link.footer__link_twitter(href='#')
			//a.footer__link.footer__link_instagram(href='#')
script(src='js/scripts.js')