.header
	.header__inner
		a.header__logo(href='#')
		ul.header__menu.right
			li.header__menu-item.hm
				span Trainingsplan<br>exportieren
			li.header__menu-item
				a.header__menu-link.header__menu-link_calendar(href='#')
			li.header__menu-item
				a.header__menu-link.header__menu-link_menu(href='#')
				ul.dropdown
					li.dropdown__item
						a.dropdown__link(href='#')
							i.menu__icon.menu__icon_time
							| Mein Trainingsplan
					li.dropdown__item
						a.dropdown__link(href='#')
							i.menu__icon.menu__icon_exercises
							| Ubungen
					li.dropdown__item
						a.dropdown__link(href='#')
							i.menu__icon.menu__icon_history
							| Training Historie
					li.dropdown__item
						a.dropdown__link(href='#')
							i.menu__icon.menu__icon_heart
							| Extras
					li.dropdown__item
						a.dropdown__link(href='#')
							i.menu__icon.menu__icon_settings
							| Einstellungen