.header
	.header__inner
		a.header__logo(href='#')
		ul.header__menu.right
			li.header__menu-item
				a.header__menu-link.header__menu-link_menu(href='#')
				ul.dropdown
					li.menu__item
						a.menu__link(href='#')
							i.menu__icon.menu__icon_time
							| Mein Trainingsplan
					li.menu__item
						a.menu__link(href='#')
							i.menu__icon.menu__icon_exercises
							| Ubungen
					li.menu__item
						a.menu__link(href='#')
							i.menu__icon.menu__icon_history
							| Training Historie
					li.menu__item
						a.menu__link(href='#')
							i.menu__icon.menu__icon_heart
							| Extras
					li.menu__item
						a.menu__link(href='#')
							i.menu__icon.menu__icon_settings
							| Einstellungen
			li.header__menu-item
				a.header__menu-link.header__menu-link_logout(href='#')