.workouts
	.workout
		.v-block
			a.v-block__preview(href='#')
				.v-block__play
				.v-block__mask
				img.v-block__image(src='images/test1.png')
			.v-block__info
				.v-block__time
					i.v-block__time_icon
					span 08:40, Minuten lang
				h3 Leigestutzen
				p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Korper...
				a.btn.btn_rounded.btn_green(href='#') Details
	.workout
		.v-block
			a.v-block__preview(href='#')
				.v-block__play
				.v-block__mask
				img.v-block__image(src='images/test2.png')
			.v-block__info
				.v-block__time
					i.v-block__time_icon
					span 08:40, Minuten lang
				h3 Leigestutzen
				p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Korper...
				a.btn.btn_rounded.btn_green(href='#') Details
	.workout
		.v-block
			a.v-block__preview(href='#')
				.v-block__play
				.v-block__mask
				img.v-block__image(src='images/test3.png')
			.v-block__info
				.v-block__time
					i.v-block__time_icon
					span 08:40, Minuten lang
				h3 Leigestutzen
				p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Korper...
				a.btn.btn_rounded.btn_green(href='#') Details
	.workout
		.v-block
			a.v-block__preview(href='#')
				.v-block__play
				.v-block__mask
				img.v-block__image(src='images/test4.png')
			.v-block__info
				.v-block__time
					i.v-block__time_icon
					span 08:40, Minuten lang
				h3 Leigestutzen
				p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Korper...
				a.btn.btn_rounded.btn_green(href='#') Details