doctype
html
head
	include _head.jade
body
	.page.login
		.screen
			.screen__mask

		.wrapper
			.content
				h2.content__headline Willkomen bei der
				.content__bottom
					a.content__logo(href='#')
					form
						fieldset
							input(type='text', placeholder='Benutzername')
						fieldset
							input(type='password', placeholder='Passwort')
						fieldset
							.checkbox__field
								input#switch.checkbox(type='checkbox')
								label.left(for='switch')
								label.for(for='switch') Eingaben speichern
						fieldset
							a.login__bottom_btn.btn.btn_medium.btn_green(href='#') Start
					a.centered(href='#') Noch nicht registriert?