doctype
html
head
	include _head.jade
body
	.page.register
		.screen
			.screen__mask

		.wrapper
			.content
				h2.content__headline Registrierung
				p.content__sub-headline Bitte schicken Sie eine unverbidnliche Registrierungsanfrage um den Zugriff auf personliche Trainingsplane zu erhalten
				a.content__logo(href='#')
				form
					fieldset
						input(type='text', placeholder='Kontakt Telefonnumber')
					fieldset
						input(type='text', placeholder='Kontakt E-mail')
				a.btn.btn_medium.btn_green(href='#') unverbidnliche anfrage senden