doctype
html
head
	include _head.jade
body

	include _header.jade

	.container
		.container__inner
			.head
				.head__col
					a.head__button-back(href='#') ZURUCK
						i.head__button-back_arrow
				.head__col
					h2.head__title.right Meine Ubungen
			.search.search_break
				input.search__input(type='text', placeholder='Ubung Suchen')
			ul.menu
					li.menu__item
						a.menu__link(href='#')
							i.menu__icon.menu__icon_run
							| Bewegen
					li.menu__item
						a.menu__link(href='#')
							i.menu__icon.menu__icon_relax
							| Entspannen
					li.menu__item
						a.menu__link(href='#')
							i.menu__icon.menu__icon_think
							| Denken
					li.menu__item
						a.menu__link(href='#')
							i.menu__icon.menu__icon_play
							| Spielen

	include _footer.jade