doctype
html
head
	include _head.jade
body

	include _header.jade

	.container
		.container__inner
			.head
				.head__col
					a.head__button-back(href='#') ZURUCK
						i.head__button-back_arrow
				.head__col
					h2.head__title.right Meine Ubungen
			.search
				input.search__input(type='text', placeholder='Hals')
				a.search__close(href='#')
			.content.v-block_grid
				.grid
					.grid__col.grid__col_two
						.v-block
							a.v-block__preview(href='#')
								.v-block__play
								.v-block__mask
								img.v-block__image(src='images/test1.png')
							.v-block__info
								.v-block__time
									i.v-block__time_icon
									span 08:40, Minuten lang
								h3 Leigestutzen
								p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Korper...
								a.btn.btn_rounded.btn_green(href='#') Details

					.grid__col.grid__col_two
						.v-block
							a.v-block__preview(href='#')
								.v-block__play
								.v-block__mask
								img.v-block__image(src='images/test2.png')
							.v-block__info
								.v-block__time
									i.v-block__time_icon
									span 08:40, Minuten lang
								h3 Leigestutzen
								p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Korper...
								a.btn.btn_rounded.btn_green(href='#') Details
				.grid
					.grid__col.grid__col_two
						.v-block
							a.v-block__preview(href='#')
								.v-block__play
								.v-block__mask
								img.v-block__image(src='images/test3.png')
							.v-block__info
								.v-block__time
									i.v-block__time_icon
									span 08:40, Minuten lang
								h3 Leigestutzen
								p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Korper...
								a.btn.btn_rounded.btn_green(href='#') Details

					.grid__col.grid__col_two
						.v-block
							a.v-block__preview(href='#')
								.v-block__play
								.v-block__mask
								img.v-block__image(src='images/test4.png')
							.v-block__info
								.v-block__time
									i.v-block__time_icon
									span 08:40, Minuten lang
								h3 Leigestutzen
								p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Korper...
								a.btn.btn_rounded.btn_green(href='#') Details

	include _footer.jade