doctype
html
head
	include _head.jade
body

	include _header.jade
	
	.container
		.container__inner
			.head
				.head__col
					a.head__button-back(href='#') ZURUCK
						i.head__button-back_arrow
				.head__col
				.head__col
					h2.head__title.right Nachirichten
			.content
				.grid.grid_27.grid_border
					.grid__col.grid__col_three
						p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
						a.btn.btn_small.btn_green(href='#') Mehr details
					.grid__col.grid__col_three
						p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
						a.btn.btn_small.btn_green(href='#') Mehr details
					.grid__col.grid__col_three
						p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
						a.btn.btn_small.btn_green(href='#') Mehr details
				.grid.grid_27
					.grid__col.grid__col_three
						p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
						a.btn.btn_small.btn_green(href='#') Mehr details
					.grid__col.grid__col_three
						p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
						a.btn.btn_small.btn_green(href='#') Mehr details
					.grid__col.grid__col_three
						p Millionen Menschen in Deutschland schwitzen im Fitness-Studio fur den perfekten Koper. Das einzige Problem dabei ist oft die Zeit:
						a.btn.btn_small.btn_green(href='#') Mehr details

	include _footer.jade