doctype
html
head
	include _head.jade
body
	.page.update
		.screen
			.screen__mask

		.wrapper
			.content
				h2.content__headline Ihre trainingsplane werden aktualisiert, bitte warten Sie...
				a.content__logo(href='#')
				a.btn.btn_large.btn_red(href='#') abbrechen