doctype
html
head
	include _head.jade
body
	.page.start
		.screen
			.screen__mask
		.wrapper
			.content
				h2.content__headline Willkomen bei der
				a.content__logo(href='#')
				a.btn.btn_large.btn_green(href='#') start training
			.highlights
				.highlights__block
					img(src='images/block-1.jpg')
				.highlights__block
					img(src='images/block-2.jpg')
				.highlights__block
					img(src='images/block-3.jpg')