doctype
html
head
	include _head.jade
body
	.page.login
		.screen
			.screen__mask

		.wrapper
			.content
				h2.content__headline Willkomen bei der
				a.content__logo(href='#')
				form
					fieldset
						input(type='text', placeholder='Benutzername')
					fieldset
						input(type='password', placeholder='Passwort')
					fieldset
						input#switch.switch__checkbox(type='checkbox')
						label(for='switch')
						span Eingaben speichern
				a.btn.btn_medium.btn_green(href='#') Start
				a.centered Noch nicht registriert?