doctype
html
	include _head.jade

body
	
	.header
		.header__inner
			a.header__logo(href='#')
			ul.header__menu.right
				li.header__menu-item.hm
					span Trainingsplan<br>exportieren
				li.header__menu-item
					a.header__menu-link.header__menu-link_calendar(href='#')
				li.header__menu-item

	.container
		.container__inner
			.head
				.head__col
					a.head__button-back(href='#') Logout
						i.head__button-back_arrow
				.head__col
					h2.head__title.right Menu
			ul.menu
				li.menu__item
					a.menu__link(href='#')
						i.menu__icon.menu__icon_time
						| Mein Trainingsplan
				li.menu__item
					a.menu__link(href='#')
						i.menu__icon.menu__icon_headphones
						| Ubungen
				li.menu__item
					a.menu__link(href='#')
						i.menu__icon.menu__icon_calendar
						| Training Historie
				li.menu__item
					a.menu__link(href='#')
						i.menu__icon.menu__icon_heart
						| Extras
				li.menu__item
					a.menu__link(href='#')
						i.menu__icon.menu__icon_gear
						| Einstellungen
				li.menu__item.menu__item_red
					a.menu__link(href='#') Logout

	include _footer.jade