doctype
html
head
	include _head.jade
body

	include _header.jade

	form#pass-form.modal(style='display:none;')
		h2 Passwort ändern
		fieldset
			input(placeholder='Old password', type='password')
		fieldset
			input(placeholder='New password', type='password')
		fieldset
			input(placeholder='Repeat password', type='password')
		a.btn.btn_green.btn_small.btn_full OK

	.intro
		.image
			img.image__preview(src='images/40.jpg')

	.container
		.container__inner
			.head
				.head__col
					a.head__button-back(href='#') ZURUCK
						i.head__button-back_arrow
				.head__col
				.head__col
					h2.head__title.right Einstellungen
			.content
				.grid.grid_border
					.grid__col.grid__col_two.left
						fieldset
							input.field(placeholder='Registrierungsnummer', type='text')
							a.field_info(href='#') i
						fieldset
							input(placeholder='Muller Schmidt', type='text')
						fieldset
							select
								option Choose your favorite animal
								option Monkey
								option Bear
								option Squirrel
								option Elephant
						a(href='#pass-form', rel='modal:open') Passwort ändern
					.grid__col.grid__col_two.right
						fieldset
							.switch
								span
									| Begleitende Musik (default)
								input#switch1.switch__toggle(type='checkbox')
								label(for='switch1').right
						fieldset
							.switch
								span
									| Neue Nachrichten
								input#switch2.switch__toggle(type='checkbox')
								label(for='switch2').right


	include _footer.jade