doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui')
		title RespoFit
		link(rel='stylesheet', href='css/index.css?v=1')
	body
		p
			a(href='//github.com/sergeyloysha') Sergey Loysha &rarr;
		hr
		h1 Страницы Respofit:
		ol
			li
				a(href='desktop_24.html') Стартовая страница (Mockup 24)
			li
				a(href='desktop_24_1.html') Регистрация (Mockup 24.1)
			li
				a(href='desktop_update.html') Авторизация (Mockup 25, Update)
			li
				a(href='desktop_26.html') Меню (Mockup 26)
			li
				a(href='desktop_27.html') Меню (Mockup 27)
			li
				a(href='desktop_30.html') Mockup 30
			li
				a(href='desktop_30_2.html') Mockup 30.2
			li
				a(href='desktop_31.html') Mockup 31
			li
				a(href='desktop_32.html') Mockup 32
			li
				a(href='desktop_33.html') Mockup 33
			li
				a(href='desktop_34.html') Mockup 34
			li
				a(href='desktop_35.html') Mockup 35
			li
				a(href='desktop_36.html') Mockup 36
			li
				| Mockup 37
			li
				| Mockup 38
			li(style='text-decoration: line-through;')
				a(href='#') Mockup 39
			li
				a(href='desktop_40.html') Mockup 40